
body {
    /* font-family: 'yanone_kaffeesatz_lightRg' !important; */
    color:#333;
    background: #FFF;
    font-size: x-large;
}
.nav-dark-transparent {
    background-color: rgba(27, 27, 27, 0.8);
    border-bottom: 1px solid rgba(0,0,0,0.8);
}
.img-logo{
    max-height: 50px;
}

/* para el about */
.about{
    /* background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%); */
    /* background: url("../img/basel-14.jpg"); */
    background-size: cover;

    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url("../img/basel-14.jpg");
    /* background-image: url("./img/black.jpg"); */
}
.img-foto-perfil{
    height: 200px;
    opacity: 1;
}
.info{
    padding-top: 130px;
}
.border-bottom{
    border-bottom: 2px solid #b26f59!important;
    border-radius: 5px
}
/* for skills */
.bg-grey{
    background-color: rgb(65, 60, 60);
}

/* para el footer */

footer p {
    color: #ffffff;
    /* line-height: 24px; */
    margin-bottom: 24px;
    opacity: 0.5;
}
.bg-footer{
    background-color: #464d57;
    font-size: 14px;
    line-height: 20px;
}
.tittle-footer{
    font-size: 18px;
    margin-bottom: 16px;
    opacity: 1;
}
/* estilos generales  */

.tres-puntos{ white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
@media (max-width: 700px){
    .bg-personal{
        background-color: blueviolet;
    }
  }